In [68]:
import pandas as pd
import numpy as np
import json

#Group_C 분리된 csv 파일로 작업함
train = pd.read_csv('train_C_Change.csv', encoding='euc-kr')

train

,Unnamed: 0,분석데이터,label,Feature_Group_A,Feature_Group_B,numstrings,avlength,printabledist,printables,entropy,paths,urls,registry,MZ
0,0,1,1,"[2399, 572, 519, 673, 555, 516, 558, 510, 709,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",144,12.298611,"[85, 2, 1, 0, 11, 0, 0, 0, 2, 0, 0, 3, 0, 12, ...",1771,5.356616,0,0,0,1
1,1,2,1,"[183376, 8477, 4514, 3921, 7260, 2869, 2414, 2...","[1008, 0, 0, 6, 9, 6, 3, 0, 0, 0, 3, 3, 9, 0, ...",804,9.580846,"[125, 43, 68, 20, 21, 25, 19, 22, 37, 38, 26, ...",7703,6.063542,0,0,0,6
2,2,3,0,"[1178, 28, 9, 6, 20, 4, 6, 0, 2, 2, 4, 3, 1, 3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2205,12.736054,"[957, 102, 85, 84, 119, 189, 178, 117, 40, 231...",28083,6.107050,9,0,0,6
3,3,4,0,"[56851, 2625, 1520, 1351, 3266, 802, 1173, 681...","[14336, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",2602,10.288240,"[748, 4, 0, 9, 178, 0, 49, 1, 53, 0, 0, 1, 60,...",26770,5.373013,8,0,0,1
4,4,5,1,"[124274, 5778, 3669, 3595, 6210, 11804, 12076,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",8980,23.252339,"[4847, 116, 142, 115, 1090, 957, 136, 200, 454...",208806,5.775223,0,28,16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,1,"[255044, 17531, 8711, 7958, 17524, 7218, 7336,...","[28672, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",2018,13.938057,"[1010, 88, 71, 112, 231, 200, 64, 104, 110, 87...",28127,5.940442,0,70,0,11
9996,9996,9997,0,"[181296, 5127, 4027, 5738, 5468, 1564, 1349, 4...","[16384, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1105,16.437104,"[455, 11, 66, 4, 49, 150, 21, 60, 19, 11, 60, ...",18163,5.766962,0,11,0,3
9997,9997,9998,0,"[68736, 2344, 1699, 1073, 1604, 756, 877, 934,...","[42986, 0, 0, 0, 1, 5, 0, 1, 0, 2, 0, 1, 4, 1,...",4,58.500000,"[7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, ...",234,3.811827,0,0,0,1
9998,9998,9999,1,"[90648, 1338, 964, 1440, 1677, 2390, 674, 740,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3312,24.939312,"[5963, 67, 449, 124, 398, 49, 90, 154, 326, 21...",82599,5.834730,0,39,0,8
9999,9999,10000,0,"[14738, 720, 159, 103, 355, 83, 51, 42, 210, 5...","[16325, 17, 3, 1, 2, 9, 2, 6, 5, 2, 7, 1, 1, 1...",655,6.077863,"[57, 37, 41, 41, 33, 27, 38, 35, 30, 23, 35, 3...",3981,6.519481,0,0,0,4

In [4]:
#value만 뽑기
train_A = train['Feature_Group_A']
train_B = train['Feature_Group_B']
train_printabledist = train['printabledist']

In [27]:
train_A_val = train_A.values
train_B_val = train_B.values
train_printabledist_val = train_printabledist.values

In [28]:
#list화
train_A_list = train_A_val.tolist()
train_B_list = train_B_val.tolist()
train_printabledist_list = train_printabledist_val.tolist()

In [89]:
## 따옴표 제거
A_list=[json.loads(x) for x in train_A_list]
B_list=[json.loads(x) for x in train_B_list]
printabledist_list=[json.loads(x) for x in train_printabledist_list]

len(printabledist_list[0])

96

In [86]:
# DataFrame columns 만들기용 숫자 list
A_name_list = ["A%d" % i for i in range(1,257)]
B_name_list = ["B%d" % i for i in range(1,257)]
printabledist_name_list = ["printabledist%d" % i for i in range(1,len(printabledist_list[0])+1)]

In [87]:
## A_Group DataFrame
feature_group_a_df = pd.DataFrame(columns = A_name_list)
    
## B_Group DataFrame
feature_group_b_df = pd.DataFrame(columns = B_name_list)
    
## printabledist DataFrame
feature_group_p_df = pd.DataFrame(columns = printabledist_name_list)


#insert data
for i in range(10000):
    feature_group_a_df = feature_group_a_df.append(pd.Series(A_list[i], index=feature_group_a_df.columns), ignore_index=True)
    feature_group_b_df = feature_group_b_df.append(pd.Series(B_list[i], index=feature_group_b_df.columns), ignore_index=True)
    feature_group_p_df = feature_group_p_df.append(pd.Series(printabledist_list[i], index=feature_group_p_df.columns), ignore_index=True)

In [91]:
# Dataset 병합

train_change = pd.concat([train, feature_group_p_df], axis=1)
train_change = pd.concat([train_change, feature_group_a_df], axis=1)
train_change = pd.concat([train_change, feature_group_b_df], axis=1)

In [93]:
train_change = train_change.drop(columns=['printabledist'], axis=1)
train_change = train_change.drop(columns=['Feature_Group_A'], axis=1)
train_change = train_change.drop(columns=['Feature_Group_B'], axis=1)
train_change = train_change.drop(columns=['Unnamed: 0'], axis=1)

In [94]:
train_change

,분석데이터,label,numstrings,avlength,printables,entropy,paths,urls,registry,MZ,...,B247,B248,B249,B250,B251,B252,B253,B254,B255,B256
0,1,1,144,12.298611,1771,5.356616,0,0,0,1,...,14134,11491,14357,11245,12666,13568,10658,11016,10611,15287
1,2,1,804,9.580846,7703,6.063542,0,0,0,6,...,976,957,834,976,792,1063,796,932,804,1361
2,3,0,2205,12.736054,28083,6.107050,9,0,0,6,...,0,0,0,0,0,0,0,0,0,0
3,4,0,2602,10.288240,26770,5.373013,8,0,0,1,...,147,146,143,132,123,117,77,97,100,91
4,5,1,8980,23.252339,208806,5.775223,0,28,16,3,...,19717,20152,16210,20032,19894,19970,18737,20374,23125,19412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1,2018,13.938057,28127,5.940442,0,70,0,11,...,358,409,452,436,331,817,338,439,353,614
9996,9997,0,1105,16.437104,18163,5.766962,0,11,0,3,...,0,0,0,0,0,0,0,0,0,0
9997,9998,0,4,58.500000,234,3.811827,0,0,0,1,...,11856,11096,13384,12259,12131,11536,12672,11743,11725,11278
9998,9999,1,3312,24.939312,82599,5.834730,0,39,0,8,...,6342,5999,6342,5790,6266,5847,6658,5871,6437,5913
9999,10000,0,655,6.077863,3981,6.519481,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [95]:
train_change.to_csv("train_change.csv",mode="w",encoding='euc-kr')